* {
    background-color: rgba(161, 114, 78, 0.733);
}
.links {
    color: red;
    display: flex;
    justify-content: space-around;
    border: 2px dashed cyan;
    background: black;
}

.data {
    color: blue;
    padding: 10px;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.right-arrow {
    position:absolute;
    top: 30%;
    right: 5%;
    font-size: 3rem;
    color: rgb(190, 16, 16);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position:absolute;
    top: 30%;
    left: 5%;
    font-size: 3rem;
    color: rgb(146, 19, 19);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide-active {
    color: red;
    padding: 10px;
    border: 5px solid black;
    position: relative;
   /* justify-content: center; */
    display: flex;
    align-items: baseline;
}