.intro {
    background-color: rgba(97, 33, 33, 0.678);
    border: 2px solid black;
    position: relative;
    opacity: 1.00;
    color: white;
    
    margin: 100px 200px 0 200px;
    text-align: center;
    padding: 20px ;
}
h1 {
    color:rgb(228, 15, 15);
    text-align:center;
}
.bg-nav {
    background-color: rgb(230, 42, 42);
}
.bg-nav a:hover {
    background-color: rgb(223, 184, 145);
}
.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 108, 80);
}
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.right-arrow {
    position:absolute;
    top: 30%;
    right: 5%;
    font-size: 3rem;
    color: rgb(190, 16, 16);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position:absolute;
    top: 30%;
    left: 5%;
    font-size: 3rem;
    color: rgb(146, 19, 19);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide-active {
    color: red;
    text-align: center;
    border: 5px solid rgb(97, 20, 20);
    position: relative;
    justify-content: center;
    display: flex;
    align-items: baseline;
    margin: 0 30px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
h3 {
    position: relative;
    text-align: center;
    align-items: center;
    color: rgb(172, 4, 4) ;
    margin: 40px 0 0 0;
}
.socials {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 40px;
}
h1.food {
    color: orange;
}
@media only screen and (min-width: 575px) {
    
    .slide-active {
    position:relative;
    width: 320px;
    padding: 10px;
    margin: 3em;
    background-color:#FFF;
    color: #666;
    font: normal 12px "Segoe UI", Arial, Sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    border-radius: 10px;
    border: 10px solid rgba(0,0,0,0.095);
    }
    .slide-active h4 {
    font-size: 3.4em;
    }
    
    .slide-active:after {
    content: "\0020";
    display:block;
    position:absolute;
    top:-20px;  /* Offset top the height of the pointer's border-width */
    left:20px;
    z-index:2;
    width: 0;
    height: 0;
    overflow:hidden;
    border: solid 20px transparent;
    border-top: 0;
    border-bottom-color:#FFF;
    }
    .slide-active:before {
    top:-30px; /* Offset of pointer border-width + bubble border-width */
    z-index:1;
    border-bottom-color:rgba(0,0,0,0.095);
    }
}
@media only screen and (max-width: 575px) {
   
    .body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: rgb(223, 108, 80);
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6HucSyjfqJcbhmw0lEHZ4IEJxNsJwN67RJRyDwTfN6Gmo9sKySEmNdoSck9Tgfu2zNK0&usqp=CAU");
        background-position: center;
        background-repeat: repeat-y;
       }
       .slide-active {
        color: rgb(0, 0, 0);
        text-align: center;
        border: 5px solid rgb(0, 0, 0);
        position: relative;
        justify-content: center;
        display: flex;
        align-items: baseline;
        margin: 0 30px;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        background-color: rgba(245, 229, 229, 0.548);
    }
    h1 {
        position: relative;
        text-align: center;
        align-items: center;
        color: rgb(172, 4, 4) ;
        margin: 40px 0 0 0;
        background-color: rgba(245, 229, 229, 0.548);
        margin: 0 30px;
    }
    
    .fyi {
        background-color: rgba(245, 229, 229, 0.548);
        margin: 0 17% 0 0;
        text-align: center;
    }
    .intro {
        margin: 100px 20px 0 20px;
    }
}